{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <h1>Administration</h1>

    <h2>List of Users</h2>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.password }}</td>
          <td>
            <form action="{{ url_for('delete_user') }}" method="post">
              <input type=hidden value="{{ user.name }}" name=user_to_delete />
              <button class="btn btn-primary btn-sm">Delete user</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h2>Add new User</h2>
    <form action="{{ url_for('admin') }}" method="post">
      <div class="form-row">
        <div class="col-auto">
          <input type="text" class="form-control mb-2" name="username" placeholder="Username">
        </div>
        <div class="col-auto">
          <input type="email" class="form-control mb-2" name="email" placeholder="Email">
        </div>
        <div class="col-auto">
          <input type="password" class="form-control mb-2" name="password" placeholder="Password">
        </div>
        <div class="col-auto">
          <button class="btn btn-primary">Add a user</button>
        </div>
      </div>
    </form>
    {% if message is defined %}
    <div class="alert alert-danger" role="alert">
        {{ message }}
    </div>
  {% endif %}
{% endblock %}
