{% extends "layout.html" %}

{% block title %}
    Book
{% endblock %}

{% block body %}
    <a href="{{ url_for('books') }}">Go back to results</a>
    <div class="card my-3">
      <div class="card-header">
        Book Details
      </div>
      <div class="row no-gutters">
        <div class="col-md-3">
          <img src="http://covers.openlibrary.org/b/isbn/{{ book.isbn }}-M.jpg" class="card-img" alt="{{ book.title }}">
        </div>
        <div class="col-md-8">
          <div class="card-body pt-0">
            <h5 class="card-title">{{ book.title }}</h5>
            <h6 class="card-subtitle"><a href="{{ url_for('author', author=book.author) }}">{{book.author}}</a> - <a href="{{ url_for('year', year=book.year) }}">{{book.year}}</a></h6>
            <p class="card-text"><small class="text-muted">ISBN: {{ book.isbn }}</small></p>
            <p class="card-text">
            <b>Language: </b>{{language}}
            <br><b>Description: </b><small>{{description}}</small>
            <br><b>Number of ratings: </b>{{ ratings_count }}
            <br><b>Average rating: </b>{{ average_rating }}</p>
          </div>
        </div>
      </div>
      <div class="card-header">
        Reviews
      </div>
      <ul class="list-group list-group-flush">
      {% for review in reviews %}
      <li class="list-group-item">
          <h5 class="card-title">{{ review.name }} - rating:{{ review.rating }}</h5>
          <p class="card-text"><small class="text-muted">Posted on {{ review.date }}</small></p>
          <p class="card-text break">{{ review.content }}</p>
          {% if review.name == user_name %}
          <form action="{{ url_for('delete_review') }}" method="post">
            <div class="btn-group  btn-group-sm" role="group">
              <input type=hidden value="{{ book.isbn }}" name=book_isbn />
              <a class="btn btn-primary" href="{{ url_for('update_review', review_id=review.id) }}" role="button">Update</a>
              <button class="btn btn-primary" type="submit">Delete</button>
            </div>
          </form>
          {% endif %}
      </li>
      {% endfor %}
      </ul>

    {% if not review_by_user %}

    <div class="card-header">
      Make a review
    </div>
    <div class="card-body">
    <form class="needs-validation" action="{{ url_for('book', book_isbn=book.isbn) }}" method="post" novalidate>
      <div class="form-group">
        <label>Rating</label>
        <select class="form-control" name="rating" required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <div class="invalid-feedback">
          Please rate.
        </div>
      </div>
      <div class="form-group">
        <label>Review</label>
        <textarea class="form-control" name="content" placeholder="Content" rows="3" required></textarea>
        <div class="invalid-feedback">
          Please add content.
        </div>
      </div>
        <button class="btn btn-primary" type="submit">Review the book</button>

    </form>
  </div>
    {% endif %}
  </div>

{% endblock %}
