{% extends "layout.html" %}

{% block title %}
    Books
{% endblock %}

{% block body %}


    <div class="jumbotron mt-4 text-white rounded shadow">
      <div class="col-md-6 p-3 bg-dark rounded shadow">
        <h1 class="display-4 font-italic">Review a book</h1>
        <p class="lead my-3">Search for a book, rate it, comment it!</p>
        <form action="{{ url_for('books') }}" method="post">
          <div class="input-group input-group-lg">
            <input class="form-control" name="search" placeholder="Search by isbn, title, author or year">
            <div class="input-group-append">
              <button class="btn btn-light">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

{% endblock %}
