{% extends "layout.html" %}

{% block title %}
    Profile
{% endblock %}

{% block body %}
  <h1>Profile</h1>

  <p>{{ message }}</p>

  <h2>My info</h2>
  <form class="needs-validation" action="{{ url_for('profile', user_id=user.id) }}" method="POST" novalidate>
    <div class="form-group">
      <label for="username">Name</label>
      <input type="username" class="form-control" name="username" id="username" value="{{user.name}}" required>
      <div class="invalid-feedback">
        Please choose a username.
      </div>
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" value="{{user.email}}" required>
      <div class="invalid-feedback">
        Please choose a email.
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" value="{{user.password}}" required>
      <div class="invalid-feedback">
        Please choose a password.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>

  <p class="h2 mt-4">My Reviews</p>

    <div class="list-group">
      {% for review in reviews %}
      <a href="{{ url_for('update_review', review_id=review.id) }}" class="list-group-item list-group-item-action">{{review.title}}</a>
      {% endfor %}
    </div>

  {% endblock %}
