{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <h1>Register User</h1>

      {% for user in users %}
      <ul>
          <li>User: {{ user.name }}</li>
          <li>Mail: {{ user.email }}</li>
      </ul>
      {% endfor %}

    <form action="{{ url_for('register') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="name" placeholder="User">
        </div>

        <div class="form-group">
            <input class="form-control" name="email" placeholder="Mail">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Add a user</button>
        </div>
    </form>
{% endblock %}
